*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    padding: 15px 7%;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #title{
    line-height: 10px;
}

header #title h1{
    font-weight: 200;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header ul li, header a{
    text-decoration: none;
    list-style: none;
    color: white;
}

header ul li{
    margin-left: 20px;
    line-height: 50px;
}


header ul li a:hover{
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover{
    background-color: rgb(132, 14, 201);
    color: white;
}

main{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

main aside h2{
    font-size: 56px;
    line-height: 40px;
    font-family: poppinsmedium;
    margin-block: 20px;
}

main aside span{
    color: rgb(132, 14, 201);
}

main aside p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

form{
    display: flex;
    flex-direction: column;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

/*ARTICLE*/
main article{
    display: flex;
    align-items: center;
}

main article img{
    width: 400px;
    height: auto;
}